.projects-main {
  gap: 0;
}
.projects-page__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding-inline: 5vw;
  margin-bottom: 2rem;
  padding-bottom: 7rem;
}
.projects-section {
  position: relative;
  isolation: isolate;
  background-color: var(--neutral-100);
}
.projects-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/assests/images/slap-2.jpg") no-repeat center
    center/cover;
  opacity: 0.055;
  z-index: -1;
}
