/* single project */

.article-program {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  padding-inline: min(5vw, 10rem);
}
.article-program__header {
  height: 30vh;
}
.article-program__header > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article-program__heading {
  margin-bottom: 2rem;
}
